.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading .spinner {
    border: 8px solid var(--foreground);
    border-left-color: #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
